@use "../abstract" as v;

.btn,
button {
  padding: 1.4rem 3.6rem;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-size: v.$font-sm;
  font-weight: v.$font-weight-md;
  border-radius: 5rem;
  color: v.$white !important;
  background: v.$gradient;
}
